<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rabbitMQ" type="Common.RabbitMQ.Configuration.RabbitMQConfigSection, Common.RabbitMQ.Configuration" />
  </configSections>

  <!-- 472 apps only talk to other 472 apps (and the net8 app / API that join this bus). -->
  <rabbitMQ>
    <bus name="Legacy"
         hostName="localhost"
         port="5672"
         virtualHost="legacy"
         userName="guest"
         password="guest"
         exchangeName="legacy.events"
         clientName="WpfApp.Net472" />
  </rabbitMQ>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
